* text=auto eol=lf
*.[cC][mM][dD] text eol=crlf
*.[bB][aA][tT] text eol=crlf
*.[pP][sS]1 text eol=crlf
OOP23-tckt-to-rd-all.jar.psd filter=lfs diff=lfs merge=lfs -text
Ticket-to-Ride.jar.psd filter=lfs diff=lfs merge=lfs -text
